matplotlib==3.3.4
psycopg2-binary==2.8.6
numpy==1.19.2
pandas==1.2.3
ray==1.2.0
tqdm==4.59.0
xgboost==1.4.2
scipy==1.6.1
apyori==1.1.2
optuna==2.8.0
adjustText==0.7.3
pytorch_tabnet==3.1.1
scikit_learn==1.0.2
